# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
/out/
.idea_modules/

.vscode/

# Arquivos temporários e de sistema
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

# Arquivos de build (JARs, etc)
*.jar

# Configurações locais
*.local
